/target/
/test-output/
.idea
*.iml
out
gen
/.apt_generated/
/.classpath
/.factorypath
/.project
/.settings/
/.springBeans
/.gitignore
/user-profile-analysis.iml
/.idea
/README.md
.DS_Store
/hs_err_pid26348.log
